---
layout: default
---

<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?06e2f2a37e405b47f1c995e373094ae1";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4504000699134547",
    enable_page_level_ads: true
  });
</script>


<style>


.zhaoolee_index .zhaoolee_index_div a{
  font-size: 20px;
  color: #419388;
}

.zhaoolee_index .zhaoolee_index_div{
  margin-top: 10px;
  border-left: 6px solid #419388;
  padding-left: 20px;
}

</style>

<div class="zhaoolee_index">
  <div class="zhaoolee_index_div">
    <a href="https://zhaoolee.github.io/GBlog/">zhaoolee是个喜欢折腾的程序员: 基于Next的静态博客</a>
  </div>
  <div class="zhaoolee_index_div">
    <a href="https://zhaoolee.gitbooks.io/chrome/content/">zhaoolee喜欢小工具: 谷粒-Chrome插件英雄榜</a>
  </div>

  <div class="zhaoolee_index_div">
    <a href="https://zhaoolee.gitbooks.io/starsandclown/content/">zhaoolee喜欢分享创意: Github星聚弃疗榜</a>
  </div>

  <div class="zhaoolee_index_div">
    <a href="https://zhaoolee.github.io/ChineseBQB/">zhaoolee喜欢斗图: 中国人的表情包</a>
  </div>

  <div class="zhaoolee_index_div">
    <a href="https://www.jianshu.com/u/c5d047065c42">zhaoolee已经发表几百篇简书: 简书id木子昭</a>
  </div>

  <div class="zhaoolee_index_div">
    <a href="https://github.com/zhaoolee?tab=repositories">zhaoolee有了好的想法就在github建个仓(挖个坑)</a>
  </div>
</div>

<!-- <div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div> -->
