<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script src="/static/md5.min.js"></script>

<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?06e2f2a37e405b47f1c995e373094ae1";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
</script>
  
<div style="font-size: 20px;">{{page.title}}</div>

{{page.content}}

<div><span>本文github地址:"https://github.com/zhaoolee/zhaoolee.github.io/"{{page.path}}</span></div>

<div id="gitalk-container"></div>
<script>
  var gitalk = new Gitalk({
    clientID: 'fcfeca14739ad63b029c',
    clientSecret: '191c171c5954a566e184f8a22b2c7a4b0b224759',
    repo: 'zhaoolee.github.io',
    owner: 'zhaoolee',
    admin: ['zhaoolee'],
    id: '{{ page.url }}',      // Ensure uniqueness and length less than 50
    distractionFreeMode: true,  // Facebook-like distraction free mode
  })

  gitalk.render('gitalk-container')
</script>

